---
permalink: /
layout: base
title: LEAD Fundraising
---

<section class="tagline">
    <div class="row triangle-row">
        <div class="medium-12 columns text-center">
            <img src="/assets/images/LEAD_triangle_gradient.png" height="50px" width="50px" />
        </div>
    </div>
    <div class="row">
        <div class="medium-8 medium-centered columns text-center">
            <h4><strong>LEAD helps you do the hard work that successful fundraising requires.</strong></h4>
        </div>
    </div>
</section>

<section class="gradient-down">
    <div>
        <div class="gradient-down-top">
        </div>
    </div>
    <div class="row">
        <div class="medium-4 mission-section columns">
            {% comment %}
            {% include partials/home-content.html %}
            {% endcomment %}
        </div>
        <div class="medium-4 mission-section columns">
            {% comment %}
            {% include partials/home-content2.html %}
            {% endcomment %}
        </div>
        <div class="medium-4 mission-section columns">
            {% comment %}
            {% include partials/home-content3.html %}
            {% endcomment %}
        </div>
    </div>
</section>

<section>
    <div class="row member-orgs">
        <div class="medium-3 columns">
            <h1 class="page-tagline org-logo">Member of &#10137;</h1>
        </div>
        <div class="medium-3 org-logo text-center columns">
            <a href="http://www.ahp.org/">
                <img src="/assets/images/ahp.png" alt="AHP">
            </a>
        </div>
        <div class="medium-3 org-logo text-center columns">
            <a href="http://www.afpnet.org">
                <img src="/assets/images/afp.gif" alt="AFP">
            </a>
        </div>
        <div class="medium-3 org-logo text-center columns">
            <a href="http://www.case.org">
                <img src="/assets/images/case.gif" alt="CASE">
            </a>
        </div>
    </div>
</section>