<p>
    <span class="label alert offline-msg show-offline-only">Offline Mode<span class="show-no-connection-only">&nbsp;(no connection)</span></span>
</p>

<h3>Settings</h3>
<label>Fullscreen
    <div class="switch">
        <input class="switch-input" id="toggleFullScreen" type="checkbox" name="toggleFullScreen">
        <label class="switch-paddle" for="toggleFullScreen">
            <span class="show-for-sr">Fullscreen</span>
            <span class="switch-active" aria-hidden="true">On</span>
            <span class="switch-inactive" aria-hidden="true">Off</span>
        </label>
    </div>
</label>

<label>Screensaver
    <div class="switch">
        <input class="switch-input" id="toggleScreensaver" type="checkbox" name="toggleScreensaver">
        <label class="switch-paddle" for="toggleScreensaver">
            <span class="show-for-sr">Fullscreen</span>
            <span class="switch-active" aria-hidden="true">On</span>
            <span class="switch-inactive" aria-hidden="true">Off</span>
        </label>
    </div>
</label>

<label>Offline mode <span class="show-no-connection-only">(disabled)</span>
    <div class="switch">
        <input class="switch-input" id="toggleOfflineMode" type="checkbox" name="toggleOfflineMode">
        <label class="switch-paddle" for="toggleOfflineMode">
            <span class="show-for-sr">Offline mode</span>
            <span class="switch-active" aria-hidden="true">On</span>
            <span class="switch-inactive" aria-hidden="true">Off</span>
        </label>
    </div>
</label>

<h3>Which Cards?</h3>
<ul class="no-bullet available-cards">
    {% for card in site.data.cards %}
        <li>
            <input type="checkbox" id="{{card.id}}" value="{{card.id}}"> {{ card.card.title }}
        </li>
    {% endfor %}
</ul>