<section class="the-team">
    <div class="grid-container fluid">
        <div class="grid-x align-center">
            {% for person in site.data.team %}
            <div class="cell small-4 text-center team-member">
                <a data-open="reveal-{{ person.id }}"><img src="{{ person.img.href }}" alt="{{ person.name }}"></a>
                <h3>{{ person.name }}</h3>
                <p>{{ person.title }}</p>
                <a href="{{ person.email }}">{{ person.email }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% for person in site.data.team %}
    <div class="reveal bio-reveal" id="reveal-{{ person.id }}" data-reveal data-animation-in="scale-in-up easeInOut"
        data-animation-out="scale-out-down easeInOut">
        <h2>{{ person.name }}, {{ person.title }}</h2>
        <img src="{{ person.img.href }}" class="float-left" alt="{{ person.name }}">
        <div>{{ person.bio }}</div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</section>