---
layout: default
---
<div class="grid-container carousel-container">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            {% include components/carousel.html %}
        </div>
    </div>
</div>

<a href="#cards-container" data-smooth-scroll>
    <div class="more text-center" id="more-cards">
        <p><img src="assets/img/icon-caret-down.svg"></p>
    </div>
    <div class="grid-container cards-container" id="cards-container">
        <div class="grid-x grid-margin-x">
            {{ content }}
        </div>
    </div>
</a>
